<h2 class="screen-align">Create</h2>
<div class="">
    <div id="template-ibzi" class="gjs-row">
        <div id="template-i71a" class="gjs-cell">
            <label id="template-igaw" class="">Name</label>
            <input type="text" id="template-ion1" [(ngModel)]="ticket.name"
            [ngModelOptions]="{standalone: true}" ngDefaultControl class="form-control "
            />
            <div type="button" id="template-iqkat" (click)="GpCreate()" class="btn btn-primary ">create</div>
        </div>
        <div id="template-imlb" class="gjs-cell">
            <label id="template-iyks" class="">Email</label>
            <input type="text" id="template-ijsq" [(ngModel)]="ticket.email"
            [ngModelOptions]="{standalone: true}" ngDefaultControl class="form-control "
            />
        </div>
    </div>
</div>